.table {
  border: solid 1px blue;
}

.tableHeader {
  background: aliceblue;
  color: black;
  font-weight: bold;
  user-select: none;
}

.tableHeaderNonLeaf {
  border-bottom: dotted 3px black;
}

.tableData {
  padding: 10px;
  border: solid 1px gray;
  background: papayawhip;
}
